@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../styles/customStyles.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.custom-select {
  background-color: transparent;
  border-radius: 0.25rem; /* Tailwind rounded-sm */
}

.custom-select:hover {
  border: 2px solid #e2e8f0;
}

/* Target the dropdown options */
.custom-select option {
  background-color: transparent;
  border-radius: 1.375rem; /* 22px */
  color: #141414; /* Custom text color */
}

.custom-select:focus {
  outline: none;
  box-shadow: none;
}

.custom-list {
  list-style-type: disc;
  padding-left: 0.5rem; /* equivalent to pl-2 in Tailwind CSS */
}

.custom-link {
  text-decoration: underline;
  color: rgb(71, 161, 212);
}

.custom-link:hover {
  text-decoration: underline;
  color: #af4c1e; /* equivalent to hover:text-blue-400 in Tailwind CSS */
}
